{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Term</th>
            <th>Interest</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.term }}</td>
                <td>{{ product.interest }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <h1>New Product</h1>
    </div>
    <div class="row">
        {{ form(form) }}
    </div>
{% endblock %}
